{{#isEq mission.name "Orokin Derelict Defense"}}
    <p>For <strong>farming {{join relicNames delimiter="/"}} Relics</strong> the <b>{{mission.name}}</b>
        mission is a great option. ODD is a straightforward defense mission that you can even solo
        with Banshee and you should be able to get two Lith relics in 10 waves most of the time.</p>
{{/isEq}}
{{#isEq mission.name "Hepit"}}
    <p>For <strong>farming {{join relicNames delimiter="/"}} Relics</strong> the <b>{{mission.name}} mission in the
        {{mission.planet}}</b> is a great option. It's a quick capture mission which you can repeat
        pretty quickly.</p>
{{/isEq}}
